@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,600&display=swap");

* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-family: Poppins, sans-serif;
}
.bg-img {
  background-image: url("./Assets/school-of-athens.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 150vw;
  height: 150vh;
  right: -330px;
  top: -155px;
  position: fixed;
  z-index: -50000;
}

img {
  background-color: blue;
  position: fixed;
  width: 150px;
  height: 185px;
  right: 0px;
  top: 0px;
  z-index: 50000;
}
.Name {
  margin-left: 30px;
  font-size: 30px;
  /*color: white;*/
}
.myName {
  /*background-color: blue;*/
  font-weight: bolder;
  width: 550px;
}
.myTitle {
  /*background-color: red;*/
  font-style: italic;
  padding-left: 124px;
  width: 550px;
}

.buttons {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 185px);
  grid-column-gap: 20px;
  bottom: 0px;
  right: 0px;
  margin-bottom: 30px;
  margin-right: 30px;
}
